@media screen and (max-width: 615px) {
	.ribbon {
		display: none;
	}

	div.jumbo {
		background: #1f8dd6;
		z-index: 1;
		overflow: hidden;
		width: 100%;
		height: auto;
		position: relative;
	}

	div.jumbo .jumbo-content {
		position: relative;
		text-align: center;
		width: 100%;
		height: auto;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		color: white;
	}

	div.jumbo .jumbo-content .download-btn-a .download-btn {
		width: 100%;
		padding: 0.5em 0.8em;
	}

	div.jumbo .jumbo-content aside *,
	div.jumbo .jumbo-content aside {
		display: none;
	}

	div.jumbo .jumbo-content header {
		width: 100%;

		text-transform: uppercase;
		text-align: center;
		font-size: 2em;
	}

	.main-menu .pure-menu-list {
		display: none;
	}
}

@media screen and (max-width: 1165px) {
	div.jumbo2 {
		width: 100%;
		height: auto;
		position: relative;
		clear: both;
	}

	div.jumbo2 .custom-capped-height {
		height: auto;
		width: 100%;
		border: none;
	}

	div.jumbo2 .custom-capped-height .pure-menu-heading {
		display: none;
	}

	div.jumbo2 blockquote {
		margin-left: 0px;
		margin-right: 0px;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
	}

	div.jumbo3 {
		position: relative;
	}

	footer {
		width: 100%;
		height: 45px;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;

		display: block;
		position: relative;
	}
}
